<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">Contacts</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Contacts (<a href = "{{ url_for('new') }}">Add new contact
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Address</th>
               <th>City</th>
               <th>State</th>
               <th>Zip Code</th>
            </tr>
         </thead>

         <tbody>
            {% for contact in contacts %}
               <tr>
                  <td>{{ contact.first_name }}</td>
                  <td>{{ contact.last_name }}</td>
                  <td>{{ contact.address }}</td>
                  <td>{{ contact.city }}</td>
                  <td>{{ contact.state }}</td>
                  <td>{{ contact.zip_code }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>
